<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>tizen1_worker</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;set workspace for building up rpi3 &apos;peripheral-io&apos; package&quot;
if [ ! -d tizen_rpi3  ]; then
	mkdir ./tizen_rpi3 
fi

cp /root/samples/rpi3/.gbs.conf ./tizen_rpi3/

cp /root/samples/rpi3/tizen-unified_20191031.1_iot-headed-3parts-armv7l-rpi3.ks ./tizen_rpi3/
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo &quot;clone and checkout &apos;peripheral-io&apos; package&quot;

cd ./tizen_rpi3

if [ -d peripheral-io  ]; then
	rm ./peripheral-io -rf
fi

git clone ssh://review.tizen.org/platform/core/api/peripheral-io


</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo &quot;&apos;peripheral-io&apos; package build&quot;

cd ./tizen_rpi3/

gbs build -A armv7l --thread=4 --clean 

mic cr loop tizen-unified_20191031.1_iot-headed-3parts-armv7l-rpi3.ks --pack-to=iot-boot-armv7l-rpi3.tar.gz --logfile=mic_build.log -A armv7l
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>